.block-generic_content {

  .layout-content {
		@include container();
  }

  .gc-wrap {
		@include span(6);
		@include push(3);

		@media #{$bp-tab} {
			width: 100% !important;
			float: none !important;
			margin-left: 0 !important;
		}
  }

  &.full-width {
  	.gc-wrap {
  		@include span(12);
  		@include push(0);
  	}
  }

  &.eight-column {
		.gc-wrap {
	  	@include span(8);
			@include push(2);
		}
  }

  &.six-column {
  	.gc-wrap {
  		@include span(6);
  		@include push(3);
  	}
  }

  &.ten-column {
  	.gc-wrap {
  		@include span(10);
  		@include push(1);
  	}
  }

	.gc-wrap {
		h3{
			@include h3-style();
		}
	}

	.gc-content{
		margin:0px;
		padding:0px;

		p{
			@include default-font;
		}

		ul{
			margin:0 0 0 30px;
			padding:0 0 0 20px;
			list-style:disc outside;

			li{
				margin:0px;
				padding:0 0 0 20px;
				font-size:16px;
				color:#000;
				line-height:28px;
				font-style:italic;			
			}
		}
	}
}
