.block-three_col {

  .layout-content {
    @extend .default-grid;
    margin-bottom: 70px;
  }

  .three-col-wrap {
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
  }

  .col-4 {
  	@include span(4);
    padding: 10px;

    @media #{$bp-tab-sm} {
      @include span(12);
      margin-bottom: $block-padding;
    }
  }

  .col-4.col-last{
  	@include span(4 at 9);

    @media #{$bp-tab-sm} {
      @include span(12);
    }
  } 

  .three-col-inner {
		
		.col_info{
			text-align: center;
		}
  }

  .three-col-image {
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  .three-col-content {
    address {
      font-style: normal;
      margin: 0;
    }

    a {
      display: inline-block;
      padding: 5px 0 15px;
      color: white;
      text-decoration: none;
    }
  }

  .three-col-title {
    h4 {
      @include h3-style();
      padding-bottom: 15px;
      border-bottom: 1px solid $dark-grey;
      margin-bottom: 15px;
    }
  }

  .three-col-link {
    a {
      @extend .pilot-button;
    }
  }
}