@font-face {
  font-family: 'icomoon';
  src:url('../../fonts/icomoon.eot?-r3u6m4');
  src:url('../../fonts/icomoon.eot?#iefix-r3u6m4') format('embedded-opentype'),
  url('../../fonts/icomoon.woff?-r3u6m4') format('woff'),
  url('../../fonts/icomoon.ttf?-r3u6m4') format('truetype'),
  url('../../fonts/icomoon.svg?-r3u6m4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tungsten';
  src: url('../../fonts/Tungsten-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/Tungsten-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/Tungsten-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/Tungsten-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/Tungsten-Semibold.svg#e5f1fa838ba4f3e5059cea69f9b0aff4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

