body{
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.site-content {
  position: relative;
  z-index: 1;
}

body:not(.archive):not(.blog) {
  .entry-content {
    @include container();
    @include mobile-layout();


    .layout-content {
      @include span(6);
      @include push(3);
      margin-bottom: $block-padding;

      @media #{$bp-tab} {
        @include span(10);
        @include push(1);
      }

      *:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

.module {
  clear: both;
  margin-bottom: $block-padding;

  .layout-content {
    @include container();
    @include mobile-layout();
  }

  &.top-divider {
    .layout-content {
      padding-top: $block-padding;
      border-top: 1px solid $dark-grey;
    }
  }

  &.bottom-divider {
    .layout-content {
      padding-bottom: $block-padding;
      border-bottom: 1px solid $dark-grey;
    }
  }
}

.block-element {
  margin-bottom: $block-padding;
}

//Google Maps Stuff
.gmp_map_opts {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $block-padding;

  a {
    display: none;
  }
}
.gmnoprint, .gmnoscreen {
  display: none;
}


// Block Level Elements (for uniform margin)
// See: https://developer.mozilla.org/en-US/docs/HTML/Block-level_elements
address,figcaption,ol,article,figure,output,aside,
p,audio,form,pre,h1,h2,h3,h4,h5,h6,canvas,table,
dd,hgroup,tfoot,hr,ul,dl,video,fieldset,noscript {
    margin: 0 0 $element-spacing 0;
}
p{
	@include default-font;
}

// Lists
ul,ol {
    padding: 0;

    li {
        padding: 0;
    }
}

dl {
    padding: 0;

    dd {
        padding: 0;
    }
}
