html {
  @include default-font();
}

// Copy & Lists 
p {
}

ul li,
ol li {
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $yellow;

  &:hover {
    text-decoration: underline;
  }
}

hr {
  border-color: $dark-grey;
  background-color: $dark-grey;
  color: $dark-grey;
}

// Headings 

h1 {
  @include h2-style();
}
h2 {
  @include h2-style();
}
h3 {
  @include h3-style();
}
h4 {
  @include h4-style();
}
h5 {
  @include h5-style();
}
h6 {

}

blockquote {
  text-align: center;
  max-width: 60%;
  @include default-font();
  font-weight: bold;
  margin: 0 auto $element-spacing;
}

// Tables
table {
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0;
  line-height: 33px;
}

// Code Blocks
code {
  vertical-align: bottom;
}
