
// Colors

$c-white: #fefefe;
$c-black: #1e1e1e;
$yellow: #ffcc00;
$body-grey: #eee; 
$light-grey: #e6e6e6;
$medium-grey: #ccc;
$dark-grey: #3d3d3d;

// Layout

$block-padding: 50px;
$top-margin: $block-padding;
$top-padding: $block-padding;
$bottom-margin: $block-padding;
$bottom-padding: $block-padding;

$block-padding-half: $block-padding / 2;

$element-spacing: 25px;

// Typography

$font-1: Helvetica, sans-serif;
$font-2: 'tungsten', Helvetica, sans-serif;

// Media Queries

$bp-mobile:	"only screen and (max-width: 480px)";
$bp-tab-sm: "only screen and (max-width: 600px)";
$bp-tab:	"only screen and (max-width: 768px)";
$bp-desk:	"only screen and (max-width: 992px)";
$bp-desk-lg: "only screen and (max-width: 1200px)";
$bp-mobile-padding: "only screen and (max-width: 1240px)"; // $bp-desk-lg + mobile side padding

// Susy Settings (add as needed in base)

$gutter-position: after;
$container: 1200px;
$columns: 12;
$gutters: 0;
$box-sizing: border-box;