
// Libraries

// Optional: @import "../../bower_components/compass-mixins/lib/compass"; 
@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
@import "../../bower_components/normalize-css/normalize";
@import "../../bower_components/animate.scss/scss/animate";
@import "../../bower_components/wow/css/libs/animate";
@import "../../fonts/fonts";


// Theme Configuration

@import "variables";
@import "base";
@import "mixins";
@import "type";
@import "layout";

// views

@import "views/header";
@import "views/footer";
@import "views/forms";
@import "views/sidebar";
@import "views/schedule";

// Pages

@import "pages/home";
@import "pages/class";
@import "pages/woocommerce";
@import "pages/location";
@import "pages/blog.scss";

// Magnific Popup
@import "magnific/magnific";

// Modules

@import "../../includes/modules/modules";

// Global Rules

body{
	background: #1e1e1e;
	margin:0px;
	padding:0px;
}

.container{
	@include container($container);
  @include mobile-layout();
	overflow: hidden;
}