.site-footer {
	#menu-footer {
		margin: 0 auto 35px;
		width: 60%;
		text-align: center;

		li {
			margin: 0 18px;
			display: inline-block;

			a {
				font-family: $font-2;
				letter-spacing: 2px;
				font-size: 20px;
				line-height: 50px;
				color: $yellow;
				text-decoration: none;
				text-transform: uppercase;
				position: relative;

				&:visited {
					color: $yellow;
				}

				&:hover {
					text-decoration: none;
					color: white;

					&::after {
						transition: .25s;
						width: 100%;
					}
				}

				&.current-menu-item {
					color: white;
				}

				&::after {
					content: "";
					position: absolute;
					bottom: -2px;
					left: 0;
					background-color: $yellow;
					transition: .25s;
					width: 0;
					height: 1px;
				}

				&:visited {
					opacity: .9;
				}
			}
		}
	}

	.copyright {
		text-align: center;

		p {
			font-size: 14px;
			color: #3d3d3d;

			a {
				color: #3d3d3d;

				&:visited, &:link {
					color: #3d3d3d;
					}

				&:hover, &:active {
					color: $yellow;
				}
			}
		}
	}
}