.gform_wrapper {
  margin: 0 !important;

  .gform_body {
    margin: auto;

    label, h3 {
      color: #a5a5a5;
      font-style: normal !important;
    }
  }

  li {
    list-style-type: none;
  }


  /*#input_3_4_1 , #input_3_5 {
    width: 400px;
  }

  #input_3_4_3 , #input_3_4_4 , #input_3_4_5 {
    width: 125px;
    display: inline;
  }*/

}

.gform_heading {
  h3.gform_title {
    font-size: 40px !important;
    text-align: center;
    font-weight: normal;
  }
}

input[type="text"], select {
  color: #a5a5a5;
  background-color: black;
  width: 200px;
  display: inline-block;
  padding: 10px !important;
  margin: 5px !important;
  border: 1px solid $medium-grey;
}

textarea {
  color: #a5a5a5;
  background-color: black;
}

label {
  padding: 5px !important;
  margin: 5px !important;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:active {
  border: 1px solid $yellow !important;
  outline: 0;
}

.input {
  display: inline-block;
}

input[type="submit"] {
  @extend .pilot-button;
  background-color: transparent;
  margin: 0 auto !important;
  display: block !important;
}
