.site-header{
	margin:0px;
	padding:0px;
	width:100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	@include mobile-layout();

	.container {
		min-height: 80px;
		position: relative;
	}

	.site-branding{
		margin:0px;
		padding:20px 0;
		width: 300px;
		@include vertical-align(absolute);
		left: 0;

		h1{
			margin: 0;
			font-size: 0;
		}
		svg {
			height: 36px;
			fill: $yellow;
		}
	}

	.main-navigation {
		@include vertical-align(absolute);
		right: 0;

		ul {
			list-style: none;
			margin: 0;

			li {
				display: inline-block;

				a {
					font-family: $font-2;
					text-transform: uppercase;
					letter-spacing: 2px;
					color: $yellow;
					font-size: 20px;
					display: inline-block;
					margin-left: 30px;
					position: relative;
					transition: .25s;

					&:hover {
						text-decoration: none;
						color: white;
						transition: .25s;

						&::after {
							transition: .25s;
							width: 100%;
						}
					}

					&.current-menu-item {
						color: white;
					}

					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						background-color: $yellow;
						transition: .25s;
						width: 0;
						height: 1px;
					}
				}

				&.menu-item-1699 {
					a {
						padding: 5px 10px;
						border: 1px solid $yellow;

						&::after {
							display: none;
						}
					}
				}
			}
		}
	}
}

h2.entry-title {
  padding-bottom: $block-padding;
  background: url(../../image/Arrow-Down.svg) bottom center no-repeat;
  background-size: 20px 12px;
  text-align: center;

	@media #{$bp-tab} {
		font-size: 110px;
	}

	@media #{$bp-mobile} {
		font-size: 80px;
	}
}

.entry-header {
	position: relative;
	margin-bottom: 150px;

	.thumbnail-wrap {
		height: 75vh;
		overflow: hidden;
		background-size: cover;
		background-position: top center;
	}

	.title-wrap {
		position: absolute;
		z-index: 2;
		bottom: -110px;
		margin-bottom: 0;
		text-align: center;
		width: 100%;

		.entry-title {
			margin: 0 auto;
			width: 75%;
			max-width: 800px;
			overflow: hidden;
		}

		@media #{$bp-tab} {
			bottom: -100px;
		}

		@media #{$bp-mobile} {
			bottom: -90px;
		}
	}
}

// Template Styles

.woocommerce-page, .single-wcs3_class, .page-template-template-class, .page-template-page-no-header-image, .single-wcs3_location, .blog, .archive, .single-post, .error404 {
	.site-header {
		position: static;
		background-color: $yellow;
		margin-bottom: 70px;

		.site-branding {
			svg {
				fill: $c-black;
			}
		}

		@media #{$bp-tab} {
			margin-bottom: 5%;
		}
	}

	.entry-header {
		margin-bottom: 70px;

		.title-wrap {
			position: static;

			.entry-title {
				padding-bottom: 0;
				background: none;
				font-size: 100px;
			}
		}
	}

	.main-navigation {
		ul {
			li {
				a {
					color: $c-black;

					&:hover {
						color: $c-black
					}

					&::after {
						background-color: $c-black;
					}
				}

				&.menu-item-1699 {
					a {
						border: 1px solid $c-black;
					}
				}

				&.current-menu-item {
					a {
						&::after {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

.page-template-page-no-header-image {
	.site-header {
		margin-bottom: 50px;

		@media #{$bp-tab} {
			margin-bottom: 5%;
		}
	}

	.entry-header {
		margin-bottom: 30px;

		.title-wrap {
			position: static;

			.entry-title {
				padding-bottom: 0;
				background: none;
				font-size: 160px;
				line-height: .8;

				@media #{$bp-tab} {
					font-size: 120px;
				}

				@media #{$bp-mobile} {
					font-size: 100px;
				}
			}
		}
	}
}

// Mobile menu styles

#responsive-menu-container {
	background: transparent !important;

	#responsive-menu-title {
		text-align: left;
	}

	#responsive-menu-wrapper {
		padding-bottom: $block-padding;
	}

	#responsive-menu li.responsive-menu-item a {
		letter-spacing: 2px;
	}

	#responsive-menu-item-1699 {
		a {
			@extend .pilot-button;
			display: inline-block !important;
			padding: 5px 10px !important;
			margin-left: auto !important;
			margin-right: auto !important;
			border: 2px solid black !important;
			width: auto !important;
			text-transform: uppercase !important;
		}
	}
}

