// Class Schedule Table //

table {
	background-color: transparent;
	table-layout: auto !important;
}

th, td,  {
  border: 1px solid $medium-grey;
  width: 100px;
  min-height: 60px;
  color: white;
  background-color: transparent;
}

td {
  color: $yellow;

	a {
		color: $yellow;
		line-height: .8;
	}
}

.wcs3-class-container {
	background-color: black;
	height: 100%;
}

.wcs3-class-name {
	overflow-x: hidden;
}

.wcs3-class-name, .wcs3-details-box-container, .locations-calendar th, {
  font-size: 14px;
  line-height: 22px;
}

.locations-calendar th {
	padding: 5px 0;
}

.wcs3-class-container {
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 80%;
		background-color: $yellow;
    height: 1px;
    opacity: .6;
	}

	&:last-of-type::after {
		display: none;
	}
}

.wcs3_class, .single-wcs3_location, .page-id-2125 {
	h3 + .locations-calendar {
		margin-top: -$element-spacing;
		margin-bottom: $block-padding;
	}

	h3 + .wcs3-schedule-wrapper {
		margin-top: -$element-spacing;
		margin-bottom: $block-padding;
	}
}

.locations-calendar {
	position: relative;

	.gradient {
		position: absolute;
		z-index: 1;
		right: -10px;
		width: 30px;
		height: 100%;
		display: none;
		background: -moz-linear-gradient(left, rgba(255,255,255,0.01) 0%, rgba(30,30,30,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0.01) 0%,rgba(30,30,30,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,0.01) 0%,rgba(30,30,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#1e1e1e',GradientType=1 ); /* IE6-9 */

		@media #{$bp-desk} {
			display: block;
		}

		@media #{$bp-tab} {
			display: none;
		}

		@media only screen and (max-width: 670px) {
			display: block;
		}
	}
}

.wcs3-filled {
	background-color: black;
}

.wcs3-no-classes-message {
	margin-bottom: $element-spacing;
}

//add responsive table styles
.wcs3-schedule-wrapper {
	width: 100%;

	@media #{$bp-desk} {
		overflow-x: auto;
	}

	//scrollbar styles

	//IE
  scrollbar-3dlight-color:$yellow;
  scrollbar-arrow-color:$yellow;
  scrollbar-base-color:#1e1e1e;
  scrollbar-face-color: $yellow;
  scrollbar-highlight-color: #1e1e1e;
  scrollbar-shadow-color: #1e1e1e;

	//Webkit
	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width:10px;
		height: 10px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 2px solid $yellow;
		background-color: rgba(0,0,0,.3);
	}
}