.sidebar {
	@include span(3 no-gutters);
	
	@media #{$bp-tab} {
		display: none;
	}
	

	.categories {
		padding-bottom: $element-spacing;
		border-bottom: 1px solid $dark-grey;
		margin-bottom: $element-spacing;
		list-style: none;

		.current-cat {
			a {
				color: white;

				&:visited, &:link {
					color: white;
				}
			}
		}

		a {
			color: $yellow;
			font-family: $font-2;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 1;
			position: relative;
			left: 0;
			transition: .3s;

			&:visited, &:link {
				color: $yellow;
			}

			&:hover {
				color: white;
				text-decoration: none;
				left: 10px;
				transition: .3s;
			}
		}
	}

	.pilot-video-button {
		position: relative;
		left: 0;
		&:hover {
			transform: scale(1);
			left: 10px;
		}
	}
}