.block-class_list {
	.layout-content {
		@include container;
	}

	h3 {
		text-align: center;
	}

	.class-links {
		margin-left: -10px;
		margin-right: -10px;
		text-align: center;
		position: relative;
		font-size: 0;

		.link-wrap {
			display: inline-block;
			max-width: 100%;
			width: 305px;
			padding: 10px;

			a {
				@include h3-style();

				padding: 35px 10px;
				background-color: $yellow;
				color: black;
				line-height: 1;
				border: 2px solid $yellow;
				transition: .25s;
				height: 110px;
				width: 100%;
				position: relative;
  		  display: inline-block;
	    	vertical-align: top;

				&:link, &:visited {
					color: black;
				}

				&:hover {
					background-color: transparent;
					color: $yellow;
					transition: .25s;
					text-decoration: none;
				}

				span {
					@include vertical-align(absolute);
					width: 90%;
					display: block;
				}
			}
		}
	}
	
}