.blog, .archive, .single-post {
	.site-content {
		@extend .default-grid;
		@include mobile-layout();
	}

	h2 {
		font-size: 100px;
		background: none;
		padding-bottom: 0;

		@media #{$bp-tab} {
			font-size: 80px;
		}
	}

	.entry-meta, .entry-footer {
		text-align: center;
	}

	.entry-footer {
		.cat-links {
			display: block;
			margin-bottom: 0;
			margin-top: 5px;
		}
		span {
			display: inline-block;
			margin: 0 5px $element-spacing;
		}
	}
}

.blog, .archive {
	.archive-content {
		@include span(8 last);

		@media #{$bp-tab} {
			@include span(12);
		}
	}

	h2.entry-title {
		text-align: left;
	}

	header.entry-header {
		margin-bottom: $block-padding;
	}

	div.entry-meta {
		text-align: left;
	}

	li.categories {
		font-size: 0;

		ul {
			margin-top: -$element-spacing;
			list-style: none;
			margin-bottom: 0;
		}
	}

	article {
		padding-bottom: $block-padding;
		border-bottom: 1px solid $dark-grey;
		margin-bottom: $block-padding;

		@media #{$bp-tab} {
			padding-bottom: $block-padding / 2;
			margin-bottom: $block-padding / 2;
		}
	}
}

.post-navigation {
	@extend .clearfix;

	.nav-previous {
		float: left;

		a {			
			&::before {
				content: "\00ab";
				padding-right: 20px;
			}
		}
	}

	.nav-next {
		float: right;

		a {
			&::after {
				padding-left: 20px;
				content: "\00bb";
			}
		}
	}
}