.single-wcs3_class, .page-template-template-class {
	.class-content {
		@include span(8 last);

		@media #{$bp-tab} {
			@include span(12);
		}

		h2.entry-title {
			font-size: 100px;
			padding-bottom: 0;
			background: none;
			text-align: left;
			line-height: .8;

			@media #{$bp-tab} {
				font-size: 80px;
			}
		}
	}
}