.single-wcs3_location {
	.locations-content {
		@include span(8 last);

		@media #{$bp-tab} {
			@include span(12);
		}
	}


	h2.entry-title {
		font-size: 100px;
		padding-bottom: 0;
		background: none;
		text-align: left;
		line-height: .8;
		margin-bottom: $block-padding;

		@media #{$bp-tab} {
			font-size: 80px;
		}
	}

	.gmp_map_opts {
		margin-bottom: $block-padding;
	}

	.locations-calendar {
		margin-top: $block-padding;
	}

}

.gmap-overlay {
	background: transparent;
  height: 400px;
  margin-bottom: -400px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}