.block-accordion {
  @extend .default-grid;

  .layout-content {
    @include span(8);
    @include push(2);

    @media #{$bp-tab} {
      @include span(12);
      @include push(0);
    }
  }

  h3 {
    @include h5-style();
    text-align: center;
  }

  .accordion-wrapper {

    .accordion-content {
    }

    .accordion {
      margin-top: 0;

      dt {
        position: relative;
        @include button();
        display: block;
        margin-bottom: $element-spacing;
        border-radius: 10px;
        transition: .3s;

        &:hover {
          a {
            color: black;
          }
        }

        &.active {
          background-color: $yellow;
          text-decoration: none;
          transform: scale(1.1);

          a {
            color: black;
            transition: .3s;
          }
        }

        a {
          @include h3-style();
          text-decoration: none;
          display: block;
          padding: 20px;
        }

      }

      dd {
        margin: 0 0 $element-spacing;
        padding: 40px;
        background-color: black;

        *:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media #{$bp-tab} {
    h3 {
      @include span(12);
      text-align: center;
    }

    .accordion-wrapper {
      @include span(12);
    }
  }

  @media #{$bp-mobile} {
    .accordion-wrapper {
      .accordion {
        dt, dd {
          padding-left: 20px;
          padding-right: 20px;
        }

        dt {
        }
      }
    }
  }
}

