.block-media{
	position: absolute;
	top: 0;
	left: 0;
	height: 75vh;
	width: 100%;
	overflow-y: hidden;
  z-index: 1;

	.layout-content {
		max-width: none;
		padding-right:0 !important;
		padding-left:0 !important;
	}

	.bg-image{
		margin:0px;
		padding:0px;
		width:100%;
		text-align:center;
		background-size:cover;

		.title{
			@include vertical-align($position: relative);

			h2{
				@include h2-style($color: white);
			}

			.subtitle{
				@include h5-style($color: white);
				display: block;
				margin-bottom: $bottom-margin / 2;
			}

			a{
				@include button(5px 10px, $c-white, $c-white, $c-black);
			}
		}

		.video {
	    width:100%;
	    height:75vh;
		}
	}
}