.block-competitors {
  @extend .default-grid;

  h3 {
  }

  .image-popup-wrap {
    font-size: 0; // for inline-block display of children
  }

  .slide-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 280px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;

    span {
      display: block;
      position: absolute;
      width: 33%;
      bottom: 30px;
      left: 30px;
      @include h3-style();
      line-height: .8;
      transition: .3s;
      z-index: 100;
      transform: scale(1);
      opacity: 1;
    }

    @media #{$bp-desk} {
      width: 49.5%;
    }

    @media #{$bp-tab-sm} {
      width: 100%;
    }

    &.active, &:hover {
      .slide {
        .slide-text {
          -webkit-transition: background-color .2s ease;
                  transition: background-color .2s ease;

          .title, .subtitle {
            -webkit-transition: color .2s ease;
                    transition: color .2s ease;
          }

          .title {
            color: white;
          }

          .subtitle {
            color: white;
          }
        }
      }
    }

    .slide {
      cursor: pointer;
      height: 100%;

      .bg-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: top center;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity:0;
      background-color: black;
      background-position: center center;
      transition: .3s;
      z-index: 1;
      cursor: pointer;
    }

    &:hover {
      span {
        bottom: 40px;
        left: 40px;
        transition: .3s;
        transform: scale(1.1);
      }

      &::after {
        opacity: .4;
        transition: .3s;
      }
    }

    &.active {
      &::after {
        opacity: 1;
        background: url(../../image/X-Icon-06.svg) center center no-repeat black;
        background-size: 30%;
        transition: .3s;
      }
      span {
        opacity: 0;
      }
    }
  } //slide-wrapper

  .slide-content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    float: left;
    padding: 8.33%;
    background-color: black;
    display: none;

    .left {
      width: 300px;
      height: auto;
      margin-right: 100px;
      float: left;

      @media #{$bp-tab} {
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 100%;

        img {
          width: 100%;
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .right {
      @include default-font();
      margin-left: 400px;

      ul {
        margin-bottom: 0;
        margin-left: 20px;
      }

      @media #{$bp-desk} {
        margin-left: 0;
      }

      @media #{$bp-tab} {
        margin-left: 0;
      }
    }

    h3 {
      @include h3-style();
      font-size: 80px;
      line-height: .8;
    }

    strong {
      margin-bottom: 0;
    }

    @media #{$bp-tab-sm} {
      padding: 5%;

      h3 {
        text-align: center;
      }
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #tobeannounced {
    display: none;

    + .slide-content {
      display: none !important;
    }
  }
}
